.danger-button {
    background: #FF495F;
    padding: 4px;
    border-radius: 8px;
    color: #FFF;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor:pointer;
}
