.delete-button {
    background: #d9534f;
    width: 65px;
    height: 25px;
    border-radius: 8px;
    color: #FFF;
    font-size: 0.7em;
    font-family: Tahoma, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor:pointer;
}
