.marker {
    padding: 8px;
    background:#0062A9;
    border: 2px solid black;
    border-radius: 3px;
    color: #fff;
    font-size: 1.6em;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    display: none;
}
.marker:hover {
    opacity: 0.7;
}
.marker.selected {
    display: inline-block;
}

