.marker {
    padding: 8px;
    background:#fff;
    border: 2px solid black;
    border-radius: 3px;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    display: none;
}

.marker:hover {
    padding: 12px;
}

.marker.selected {
    display: inline-block;
}

