.save-location-form {
    border-radius: 10px;
    background: rgba(0 , 0, 0, 0.2);
    border: 6px dotted white;
    width: 100%;
    padding: 20px;
}

label {
    font-size: 2em;
    padding: 10px;
    color: #fff;
    font-weight: 500;
}

input {
    border: 1px solid grey;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    min-width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
}

.btn-primary {
    margin-left: 10px;
}
