.map-container {
    height: 50vh;
    width: 100%;
}

.list-container {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid grey;
}

h2 {
    text-align: center;
    font-size: 1.2em;
 }
 
 ol {
     padding: 8px;
 }
 
 li {
     clear: both;
     padding: 10px;
 }
 
 li .danger-button {
     float: right;
     margin-right: 10px;
 }
 
 .location-name {
     cursor:pointer;
 }
 
 .location-name:hover {
     opacity: 0.5;
     color: #000;
 }
 