body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2em;
    display: inline-block;
}

h2 {
    text-align: center;
    font-size: 1.4em;
 }
 
 li .delete-button {
     float: right;
 }

 .header-container {
     padding: 20px;
 }

 img {
     margin-left: 20px;
     position: absolute;
     top: 37px;
 }

.map-container {
    height: 50vh;
    width: 100%;
}

.list-container {
    padding: 20px;
}

.search-container {
    padding: 20px;
}

.search-container input {
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    color: #999;
}

.message-container {
    width: 80%;
    padding: 30px;  
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background: rgba(0 , 0, 0, 0.1);
    border: 6px dotted white;
}

#message {
    font-size: 1.6em;
    padding: 20px;
    margin-top: 40px;
}

.btn-warning {
    float: right;
}

.list-group-item {
    padding: 24px;
}
