html {
    font-family: 'Roboto', sans-serif;
    color: #555F61;
}
a {
    color: #555F61;
}
a:hover {
    opacity: 0.5;
    text-decoration: none;
    color: #555F61;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
h1 {
    margin-left: 7px;
    font-size: 2em;
    display: inline-block;
}
h2 {
    font-size: 1.6em;
 }
ul {
    padding: 0px;
}
ul li {
    font-size: 1.2em;
    padding: 10px;
}
 li .delete-button {
     float: right;
 }
 .header-container {
     padding: 20px;
 }
 img {
     margin-left: 20px;
     position: absolute;
     top: 37px;
 }
 nav ul li {
     display: inline-block;
 }
.main-container {
    max-width: 900px;
    margin: auto;
}
.map-container {
    height: 50vh;
    width: 100%;
}
.information-container {
    padding: 40px;
}
.search-container {
    padding: 20px;
    width: 100%;
    margin: auto;
}
.search {
    width: 100%;
}
.search-container input {
    width: 100%;
    height: 40px;
    font-size: 1.4em;
    color: #999;
    padding: 20px;
}
.list-container {
    padding: 20px;
    width: 100%;
    margin: auto;
}
.message-container {
    width: 80%;
    padding: 30px;  
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background: rgba(0 , 0, 0, 0.1);
    border: 6px dotted white;
}
#message {
    font-size: 1.6em;
    padding: 20px;
    margin-top: 40px;
}
.btn-warning {
    float: right;
}
button.btn.btn-default {
    margin-bottom: 10px;
}
.list-group-item {
    padding: 24px;
}
.footer-container {
    margin-top: 20px;
    padding: 20px;
}
.footer-container ul li {
    float: right;
}
